.search-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding-top: 50px;
  background-image: linear-gradient(
    rgba(23, 23, 23, 0.9),
    rgba(23, 23, 23, 0.1)
  );
}

.search-wrapper h1 {
  font-size: 70px;
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* neon light */
  color: #faa8a8;
  text-shadow: 0 0 5px #faa8a8, 0 0 10px #faa8a8, 0 0 20px #faa8a8,
    0 0 40px #fc0101, 0 0 80px #fc0101, 0 0 90px #fc0101, 0 0 100px #fc0101,
    0 0 150px #fc0101;
}

.search-wrapper h3 {
  font-size: 50px;
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: -38px;

  /* neon light */
  color: #c3f9eb;
  text-shadow: 0 0 5px #c3f9eb, 0 0 10px #c3f9eb, 0 0 20px #c3f9eb,
    0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.movie-result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 320px;
  margin: 0 35px;
}

.poster-box {
  width: 50%;
}
.poster-box img {
  width: 100%;
  height: 100%;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0 0 10px #ba0000, 0 0 20px #ba0000;
}
.movie-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  text-decoration: none;
  color: #f5c2c2;
  font-size: 24px;
  font-family: "Kelly Slab", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

ul {
  list-style-type: none;
}

.movie-info {
  text-align: left;
  padding-left: 12px;
  width: 50%;
}

.movie-not-found {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #c3f9eb;
  text-align: center;
  max-width: 300px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Ipad view */
@media (min-width: 744px) {
  .search-wrapper h1 {
    font-size: 90px;
  }
  .search-wrapper h3 {
    font-size: 70px;
  }
  .movie-result ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
    list-style-type: none;
  }
  .movie-item {
    display: flex;
  }
  .poster-box {
    max-height: 500px;
  }
}

/* Desktop view */
@media (min-width: 1150px) {
  .search-wrapper h1 {
    font-size: 110px;
  }
  .search-wrapper h3 {
    font-size: 90px;
  }
  .movie-result ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 90px 30px;
    list-style-type: none;
  }
  .poster-box {
    max-height: 225px;
  }
  .movie-info {
    font-size: 20px;
  }
  .movie-not-found {
    margin-top: 60px;
  }
}
