@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Orbitron:wght@400..900&family=Sacramento&family=Tilt+Neon&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/src/assets/backdrop.webp);
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center; */
}
