@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Limelight&family=Orbitron:wght@400..900&family=Sacramento&family=Tilt+Neon&display=swap");

#root {
  margin: 0 auto;
  text-align: center;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/src/assets/backdrop.webp);
  background-size: cover;
  background-attachment: fixed;
}
